html {
    margin: 0 5%;
   display: flex;
   justify-content: center;
   flex-wrap:wrap; 



}   

.row{
    width: 1360px;    
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap; 
    margin-top: 0px;  
    line-height: 20px;;     
}

.main-info-3 > div{
    margin-top:20px;
}


.row > a {
    padding: 5px 15px;;
    background-color: #FBCD80 ; 
    font-size:20px;
    border-radius: 4px;;
    text-align: center; 
}

.nav-link-1{
    width: 40px;  
}

.nav-link-2{
    width: 130px;
}

.nav-link-3{
    width: 140px;
    
}

.nav-link-4{
    width: 130px;;
}

.hidden-button{
    display:none;
}

a{
    text-decoration: none;
    color:black;
}

body {
     background: url("/static/image/phone.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.main-info-1{height: 650px;
  
    margin-top: -85px;
    width: 100%;
    border-radius: 4px;;
    background-color: #FBCD80;


}

.main-info-2{height: 650px;
    width: 100%;
    border-radius: 4px;;

    background-color: #FBCD80;

    
}

.main-info-3{height: 650px;
    width: 100%;
    border-radius: 4px;;
    
    background-color: #FBCD80;

    margin-bottom: 10px;;
}

.head-1 {font-size: 110px;;
    font-family: "Arial";
    padding-top: 3  px;;
    overflow-wrap: break-word; 
    padding-left: 20px;; 
}

.line-1{
    font-size: 68px; margin-top: -100px;;font-family: "Arial";overflow-wrap: break-word;padding-left: 20px;; 
}

.text-1{
    font-size: 31px; margin-top: -30px;;font-family: "Arial"; line-height: 50px;padding-left: 20px;; 
}

.head-2 {
    font-family: "Arial";
    padding-top: 30px;;
    overflow-wrap: break-word; 
    text-align: center; 
    font-size: 42px;;
}

.list-1{
    margin-top: -30px;;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.list-2{margin-top: -40px;;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:20px;;
}

.list-1 > p {overflow-wrap: break-word; 
    padding: 35px 35px;
    background-color: #19272A ; 
    font-size:30px;
    border-radius: 4px;;
    text-align: center; 
    color: #FFFFFF;
    width: 30%;
    margin-right: 30px;;
    margin-left: 30px;;
    height: 60%;
}

.list-2 > p {overflow-wrap: break-word; 
    padding: 35px 35px;
    background-color:#19272A ; 
    font-size:30px;
    border-radius: 4px;;
    text-align: center; 
    color: #FFFFFF;
    width: 30%;
    margin-right: 30px;;
    margin-left: 30px;;
    height: 60%;
}

.main-info-3 > div{}

footer{
    margin-bottom: 20px;;
}
