* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

.form {
    display: flex !important;
    flex-direction: column !important;
}

.header1 {
  margin-bottom: 12px;
}

#mail-field {
  margin-bottom: 32px;
}

#password-field {
  margin-bottom: 6px;
}

.galochka-section{
  margin-bottom: 26px;
  margin-top: 15px;
}

.nav-button{ 
  display: inline;
  background: #FBCD80; /* Серый цвет фона */
  color: black; /* Белый цвет текста */
  padding: 20px; /* Поля вокруг текста */
  text-decoration: none; 
  border-radius: 0px; 
  font-size: 50px;
}
  
  
.site-navigation-item{

  display: inline-block; /* Строчно-блочный элемент */
}
  
body {
  background: url("/static/image/phone.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
.background{
  
  display: inline-block; /* Строчно-блочный элемент */
  background: #FBCD80; /* Серый цвет фона */
  margin-left: auto;
  margin-right: auto;
  width: 442px;
  color: black; /* Белый цвет текста */
  padding-left: 45px; /* Поля вокруг текста */
  padding-right: 45px;
  padding-top: 32px;
  padding-bottom: 48px;
  border-radius: 2px; /* Скругляем уголки */
  margin-bottom: 28px;
  
}

.checkbox-label{
  font-size: 80%;
}

.check-box-button{
  font-size: 80%;
}

.enter-submit-button-usual-button{
  font-size: 25px;;
  border: solid 1px black;;
  border-radius: 4px;;
  width: 220px;;
  position: center;
  text-align:center;  
  }

.log-in-button{
  text-align: center;
}
.clear-password{
  margin-left :0px;;
  text-align: right;
  color:black;
  white-space: nowrap;
  font-size:  80%;
}

.show-password{
  margin-top: 25px;
}
  .skip-text {
    justify-self: center;
    align-self: center;
  }

  .skip-button-section {
    background: #FBCD80;
    padding: 24px 8px;
    text-decoration: none;
    align-self: center;
    line-height: 0;
    font-size: 28px;
    display: grid;
    justify-items: center;
    align-items: center;
    color:black;
  }
  
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .registration{background-position: center;

      align-self: center;
      text-align:center ;
      font-size: 200%;
      display: flex;
      flex-direction: column;
  }
  
  .item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .txt {
      text-align: left;

  }
  
  .cnotainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 10px;
      max-width: 700px;
    }
  
  .base-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: A0B3C2;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 4px;
  }
  
  input[type = "radio"]{
    font-family:Arial, Helvetica, sans-serif;
    color: A0B3C2;
  }
  
  input[type = "sumbit"]{
    font-family:Arial, Helvetica, sans-serif;
    color: A0B3C2;
    font-size: 4444px;
  }
  
  
  input[type = "date"]{
    border: 2px solid black;
    border-radius: 4px;
  }
  
  .sign-in-button-item{
    color:#000;
    margin-top: 30px;
    font-size: 70%; 
  }
  
  .sign-in-button {text-align:center;}