* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
}

nobr {
    text-decoration: none;
}

.nav-link-1 {
    display: flex;
    border-radius: 3px;
    font-size: 3vh;
    width: 128px;
    height: 32px;
    background-color: #FBCD80;
    color:black;
}

.nav-link-2 {
    display: flex;
    border-radius: 3px;
    font-size: 3vh;
    width: 145px;
    height: 32px;
    background-color: #FBCD80;
    margin-left: 81px;
    color:black;
}

body {
    background: url("/static/image/phone.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 41px;
    padding-right: 44px;
  }

.main-header {
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.nobr-text {
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

main {
    background-color: #FBCD80;
    border-radius: 6px;
    padding-top: 4px;
    padding-left: 12px;
    min-height: 73vh;
}

h1 {
    font-size: 13vh;
}

h2 {
    font-size: 8vh;
    margin-bottom: 25px;
}

.description {
    display: block;
    width: 420px;
    font-size: 3.75vh;
}