html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
}


img {
  width: 100vw;
  height: 100vh;
}

.header-page-item{ 
  display: inline-block;
  background: #FBCD80; /* Серый цвет фона */
  color: black; /* Белый цвет текста */
  padding: 2%; /* Поля вокруг текста */
  text-decoration: none; 
  border-radius: 2%; 
  font-size: 170%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.head-page-link{
  text-decoration: none;
  color: black;
}

.header-page{
  text-align: center;
}

footer{
  color: black; /* Белый цвет текста */
  padding: 2px; /* Поля вокруг текста */
  border-radius: 1px; /* Скругляем уголки */
  background-size: 20px;
}

body {
  background-image: url("phone.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.background{ 
  text-align:center;
  display: inline-block; /* Строчно-блочный элемент */
  background: #FBCD80; /* Серый цвет фона */
  color: black; /* Белый цвет текста */
  padding: 20px; /* Поля вокруг текста */
  border-radius: 1%; /* Скругляем уголки */
}  



.registration{
  width: 100%; 
  height:100%;
  font-size:  140%;
}


.item {
  font-size:  100%;
  height: 100%;
}


.container {
  background-size: 100%;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 4px;
  max-width: 100%;
}

.txt{text-align: left;
}

input[type = "text"]{
  background-color: A0B3C2;
  border: 2px solid black;
  border-radius: 4px;
  text-align: left;
  font-size:  100%;
}

input[type = "radio"]{
  color: A0B3C2;
  text-align: left;
  font-size:  100%;
}

input[type = "date"]{
  border: 2px solid black;
  border-radius: 4px;
  font-size: 100%;
  text-align: left;
}

input[type = "password"]{
  border: 2px solid black;
  border-radius: 4px;
  font-size: 100%;
  text-align: left;
}

.sign-in-button-item{
  border: 2px solid black;
  border-radius: 4px;
  font-size: 100%; 
  
}

.registration-button-item{
  border: 2px solid black;
  border-radius: 4px;
  font-size: 100%;
}

.reg-button  {text-align:center;   }

.sign-in-button {text-align:center;}
